/* This file is for your main application css. */

@import "./phoenix.css";

/* Center text in header. */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin-bottom: 0;
}

header section.container {
  padding: 1rem 0;
}

.raise_percentage {
  height: 5rem;
  border: solid 1px silver;
  position: relative;
}

.raise_percentage .complete {
  background-color: #0069d9;
  height: 100%;
  position: absolute;
}

.raise_percentage .percent_text {
  min-width: 30rem;
  width: 100%;
  position: absolute;
  text-align: center;
  color: rgb(0,0,0);
  margin-top: 1rem;
}

iframe {
  margin: 1rem;
}
