<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Leveled</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <%= render_navigation @conn %>
        </nav>
        <div class="lvl-logo"><%= img_tag Routes.static_path(@conn, "/images/leveledlogo.png") %></div>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <footer class="page-footer lvl-footer">
        <section>
          <div class="container">
            <div class="row">
              <div class="column column-50">
                <p>Leveled is the only crowdfunding platform that moves people into their next career. Connect with great companies for month-long experiences funded by the crowd.</p>
              </div>
              <div class="column column-50">
                <dl>
                  <dt>10 E North Ave Suite 5 Baltimore MD 21202</dt>
                  <dt>Email: hello@leveled.app </dt>
                  <dt>Phone: 4437044635</dt>
                  <dt>
                  <div class="policies"><%= link "Privacy Policy & Terms of Use", to: Routes.page_path(@conn, :policies) %></div></dt>
                </dl>
              </div>
            </div>
          </div>
          <div >
            <a href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a>
          </div>
        </section>
    </footer>
  </body>
</html>
