<h1>Edit Candidate</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.candidate_path(@conn, :update, @candidate)) %>

<span><%= link "Back", to: Routes.candidate_path(@conn, :index) %></span>
