<h1>Where are you (and is that where you want to be)?</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.location_path(@conn, :update, @candidate)) %>

<%= link "Back to the money.", to: Routes.salary_path(@conn, :new) %>

