<ul>
  <li><%= link "My Account", to: Routes.profile_path(@conn, :edit) %></li>
  <li><%= link "Job Board", to: Routes.job_posting_path(@conn, :index) %></li>
  <li><%= link "My Raise", to: "/" %></li>
  <li><%= link "Logout", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
</ul>
