<div class="row">
  <div class="column"><%= link "Login", to: Routes.user_session_path(@conn, :new), class: "button"%></div>
  <div class="column"><%= link "Sign up", to: Routes.user_path(@conn, :new), class: "button"%></div>
</div>
