  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
    <%= link "Sign up", to: Routes.user_path(@conn, :new), class: "nav-link active"%>
    </li>
    <li class="nav-item">
    <%= link "Login", to: Routes.user_session_path(@conn, :new), class: "nav-link"%>
    </li>
  </ul>
