<h1>Company Details</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.company_secondary_details_path(@conn, :update, @company)) %>

<%= link "Back", to: Routes.company_path(@conn, :new) %>
